This notebook is based on the excellent tutorial "Humble Intro to Analysis with Pandas and Seaborn" by Chris Crawford that you may find [here](https://www.kaggle.com/crawford/humble-intro-to-analysis-with-pandas-and-seaborn/notebook).

In [1]:
# Import libraries
# Numpy for arrays and series
import numpy as np

#Pandas for dataframes
import pandas as pd

#Matplotlib for plotting graphs
import matplotlib.pyplot as plt

#Seaborn for more advanced graphs
import seaborn as sns

In [2]:
# Import the data from the csv file. 
# The data file is not stored in this repo so it has to be downloaded from the link above.
database = 'database.csv'

# Create a DataFrame named df with the content of the csv file
# Due to size we are suppressing low memory warnings
df = pd.read_csv(database, low_memory=False)

The next few cells contain some simple commands to begin our exploration of the data

In [3]:
# shape (rows, columns)
df.shape

(174104, 66)

In [4]:
# head(n) - show only the first n rows in the dataframe, n = 5 by default
df.head()

,Record ID,Incident Year,Incident Month,Incident Day,Operator ID,Operator,Aircraft,Aircraft Type,Aircraft Make,Aircraft Model,...,Fuselage Strike,Fuselage Damage,Landing Gear Strike,Landing Gear Damage,Tail Strike,Tail Damage,Lights Strike,Lights Damage,Other Strike,Other Damage
0,127128,1990,1,1,DAL,DELTA AIR LINES,B-757-200,A,148,26,...,0,0,0,0,1,1,0,0,0,0
1,129779,1990,1,1,HAL,HAWAIIAN AIR,DC-9,A,583,90,...,0,0,0,0,0,0,0,0,1,0
2,129780,1990,1,2,UNK,UNKNOWN,UNKNOWN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
3,2258,1990,1,3,MIL,MILITARY,A-10A,A,345,NaN,...,0,0,0,0,0,0,0,0,0,0
4,2257,1990,1,3,MIL,MILITARY,F-16,A,561,NaN,...,0,0,0,0,0,0,0,0,0,0

In [5]:
# tail(n) - the last n rows in the dataframe, n = 5 by default
df.tail(7)

,Record ID,Incident Year,Incident Month,Incident Day,Operator ID,Operator,Aircraft,Aircraft Type,Aircraft Make,Aircraft Model,...,Fuselage Strike,Fuselage Damage,Landing Gear Strike,Landing Gear Damage,Tail Strike,Tail Damage,Lights Strike,Lights Damage,Other Strike,Other Damage
174097,365836,2015,9,30,ASQ,EXPRESSJET AIRLINES,EMB-135,A,332,13,...,0,0,0,0,0,0,0,0,0,0
174098,365837,2015,9,30,FDX,FEDEX EXPRESS,DC-10-10,A,583,24,...,0,0,0,0,0,0,0,0,0,0
174099,366091,2015,9,30,SWA,SOUTHWEST AIRLINES,B-737-700,A,148,42,...,0,0,0,0,0,0,0,0,0,0
174100,365902,2015,9,30,SWA,SOUTHWEST AIRLINES,B-737-700,A,148,42,...,0,0,0,0,0,0,0,0,0,0
174101,365903,2015,9,30,BUS,BUSINESS,CITATIONJET,A,226,49,...,1,1,0,0,0,0,0,0,0,0
174102,366046,2015,9,30,QXE,HORIZON AIR,DHC8 DASH 8,A,303,10,...,1,0,0,0,0,0,0,0,0,0
174103,365823,2015,9,30,AWI,AIR WISCONSIN AIRLINES,CRJ100/200,A,188,10,...,0,0,0,0,0,0,0,0,1,0